.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  outline: none;
}

.input:focus {
  border-color: var(--color-primary);
}

.toggle-password {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggle-password img {
  width: 20px;
  height: 20px;
}
