.input-container {
  margin-bottom: 20px;
  width: 90%;
}

.input-container label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.input-container input {
  height: 54px;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 12px;
}

.input:focus {
  border-color: var(--color-primary);
}
